{
  "openapi": "3.0.3",
  "info": {
    "title": "melete",
    "description": "Melete is a philosophy database created by scraping Wikipedia and its accompanying api. \n\nDocumentation and demoing of the api is available below. \n\nIf you'd like to explore the data yourself [this link will download the postgres sql dump](https://meleteapi.dev/static/melete_sql_dump.gz).\n\nInterested in contributing? Visit the [github page](https://github.com/prhineh1/melete) for guidance.",
    "termsOfService": "",
    "contact": {
      "email": "prhineh1@meleteapi.dev"
    },
    "license": {
      "name": "GNU GPL-3.0",
      "url": "https://www.gnu.org/licenses/gpl-3.0.html"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "",
    "url": ""
  },
  "servers": [
    {
      "url": "https://meleteapi.dev/api/v1",
      "description": ""
    }
  ],
  "tags": [
    {
      "name": "Quotes",
      "description": "Query quotes by philosopher, era or randomly.",
      "externalDocs": {
        "description": "",
        "url": ""
      }
    }
  ],
  "paths": {
    "/quotes": {
      "get": {
        "summary": "Returns an array of quotes based on passed query params",
        "description": "\n* `author` and `era` query params can be set multiple times with different values in the same url (e.g., `?author=socrates&author=kant` or `?era=renaissance&era=mysticism`\n* queries are inclusive: `?author=aristotle&author=plato&era=contemporary+philosophy` will return quotes from Aristotle, Plato, and contemporary philosophy\n* `author` and `era` query params will match the closest author (\"plat\" will match \"plato\") or era (\"contemp\" will match \"contemporary philosophy\")\n* 100 results max are shown. If the `cursor` property on the response body is greater than -1, it can be passed as a query param (also named `cursor`) to get the next set of results\n* requesting just `/quotes` without any query params will return the first set of results from all quotes, which can then be paged through with `cursor`\n",
        "operationId": "getquotes",
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "author",
            "description": "query quotes from this author",
            "schema": {
              "type": "string"
            },
            "examples": {
              "plato": {
                "value": "plato"
              },
              "confucius": {
                "value": "confucius"
              }
            }
          },
          {
            "in": "query",
            "name": "era",
            "description": "query quotes from this era of philosophy",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contemporary philosophy": {
                "value": "contemporary philosophy"
              },
              "islamic golden age": {
                "value": "islamic golden age"
              }
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "query the next set of results",
            "schema": {
              "type": "number",
              "exclusiveMinimum": true,
              "minimum": -1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "number",
                      "description": "used for querying next set of results; if value is -1, there are no more results to query"
                    },
                    "quotes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Quote"
                      },
                      "description": "array of quotes"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "cursor": 400,
                      "quotes": [
                        {
                          "text": "My lectures are published and not published; they will be intelligible to those who heard them, and to none beside.",
                          "author": "Aristotle",
                          "eras": [
                            "ancient greek philosophy"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "content": {},
            "description": "server error",
            "headers": {}
          }
        }
      }
    },
    "/quotes/random": {
      "get": {
        "summary": "Returns a random quote",
        "operationId": "randomQuote",
        "tags": [
          "Quotes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                },
                "examples": {
                  "example": {
                    "value": {
                      "author": "seneca the younger",
                      "text": "I may become a poor man; I shall then be one among many. I may be exiled; I shall then regard myself as born in the place to which I shall be sent. They may put me in chains. What then? Am I free from bonds now? Behold this clogging burden of a body, to which nature has fettered me! “I shall die,” you say; you mean to say “I shall cease to run the risk of sickness; I shall cease to run the risk of imprisonment; I shall cease to run the risk of death.”",
                      "eras": [
                        "hellenistic philosophy"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "server error"
          }
        },
        "description": "Will return a different quote each time it's used."
      }
    }
  },
  "components": {
    "schemas": {
      "Quote": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "quote text"
          },
          "author": {
            "type": "string",
            "description": "quote author"
          },
          "eras": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "",
              "enum": [
                "contemporary philosophy",
                "medieval philosophy",
                "hellenistic philosophy",
                "pre-socratic philosophy",
                "ancient philosophy",
                "ancient greek philosophy",
                "reformation",
                "17th century in philosophy",
                "19th-century philosophy",
                "islamic golden age",
                "abbasid dynasty",
                "18th century in philosophy",
                "age of enlightenment",
                "renaissance philosophy",
                "early modern philosophy",
                "modern philosophy",
                "western philosophy",
                "renaissance",
                "neo-confucianism",
                "hundred schools of thought",
                "16th century in philosophy",
                "edo period",
                "british raj",
                "church fathers",
                "classical greece",
                "zhou dynasty",
                "12th century in philosophy",
                "13th century in philosophy",
                "high middle ages",
                "crisis of the late middle ages",
                "hindus",
                "indian philosophy",
                "patristics",
                "14th century in philosophy",
                "second scholasticism",
                "byzantine philosophy",
                "mysticism",
                "late antiquity",
                "qing dynasty",
                "islamic calendar",
                "song dynasty"
              ]
            },
            "description": "eras the quote belongs to",
            "uniqueItems": true
          }
        }
      }
    },
    "securitySchemes": {},
    "parameters": {}
  }
}